.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home-home {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-logo {
  width: 70px;
  height: 73px;
  object-fit: cover;
  text-decoration: none;
}
.home-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link:hover {
  opacity: 0.5;
}
.home-link01 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link01:hover {
  opacity: 0.5;
}
.home-link02 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.home-link02:hover {
  opacity: 0.5;
}
.home-link03 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link03:hover {
  opacity: 0.5;
}
.home-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-phone {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  color: var(--dl-color-gray-white);
}
.home-image {
  width: 18px;
  object-fit: cover;
}
.home-link04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.home-contact {
  text-decoration: none;
}
.home-image01 {
  width: 18px;
  object-fit: cover;
}
.home-text {
  font-family: "Inter";
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color:var(--dl-color-gray-black);
  color: var(--dl-color-gray-white);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image02 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link05:hover {
  opacity: 0.5;
}
.home-link06 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link06:hover {
  opacity: 0.5;
}
.home-link07 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.home-link07:hover {
  opacity: 0.5;
}
.home-link08 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link08:hover {
  opacity: 0.5;
}
.home-phone1 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-image03 {
  width: 18px;
  object-fit: cover;
}
.home-link09 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: var(--dl-color-gray-white);
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  min-height: 750px;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  background-size: cover;
  justify-content: space-between;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), 
  url("/home-1500w.webp");
  background-size: cover;
}

.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.home-heading {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  width: 100%;
  font-size: 80px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.home-text01 {

  font-size: 32px;
  line-height: 1;
}
.home-book {
  text-decoration: none;
}
.home-image04 {
  width: 18px;
  object-fit: cover;
}
.home-text02 {
  font-size: 24px;
}
.home-features {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #2461FF;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-services {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 120px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}
.home-content2 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-practice-wrapper {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper1 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper2 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper3 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper4 {
  cursor: pointer;
  text-decoration: none;
}
.home-practice-wrapper5 {
  cursor: pointer;
  text-decoration: none;
}
.home-all {
  display: none;
}
.home-why {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-gray-500);
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header1 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-header2 {
  font-size: 24px;
  max-width: 90%;
  text-align: inherit;
  line-height: 27px;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1100px;
  align-items: flex-start;
  flex-direction: row;
}
.home-container3 {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-ul {
  list-style-type: disc;
  list-style-position: outside;
}
.home-container4 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-ul1 {
  list-style-type: disc;
  list-style-position: outside;
}
.home-features1 {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading3 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image05 {
  object-fit: cover;
}
.home-section1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.home-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading4 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton1 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-image06 {
  object-fit: cover;
}
.home-section2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading5 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton2 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-text32 {
  color: #dc1616;
  font-size: 24px;
}
.home-phone2 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.home-image07 {
  width: 18px;
  object-fit: cover;
}
.home-text34 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32pxpx;
  text-transform: uppercase;
}
.home-image08 {
  object-fit: cover;
}
.home-contact1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-500);
  border-bottom-width: 1px;
}
.home-heading6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text35 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-text36 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.home-text37 {
  max-width: 700px;
  text-align: center;
}
.home-text40 {
  max-width: 700px;
  text-align: center;
}
.home-form {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-types {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-book1 {
  width: 100%;
}
.home-text43 {
  font-size: 16px;
  max-width: 700px;
  text-align: center;
  line-height: 15px;
}
.home-phone3 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.home-image09 {
  width: 18px;
  object-fit: cover;
}
.home-text44 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32pxpx;
  text-transform: uppercase;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-image10 {
  width: 145px;
  height: 145px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-link10 {
  margin: var(--dl-space-space-unit);
  font-size: 24px;
  text-decoration: none;
}
.home-link11 {
  margin: var(--dl-space-space-unit);
  font-size: 24px;
  text-decoration: none;
}
.home-link12 {
  margin: var(--dl-space-space-unit);
  font-size: 24px;
  text-decoration: none;
}
.home-link13 {
  margin: var(--dl-space-space-unit);
  font-size: 24px;
  text-decoration: none;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .home-link01 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  .home-link06 {
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  .home-header2 {
    max-width: 1100px;
  }
  .home-image05 {
    width: 550px;
  }
  .home-image06 {
    width: 550px;
  }
  .home-image08 {
    width: 550px;
  }
  .home-text35 {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
  }
  .home-link12 {
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .home-image05 {
    width: 400px;
  }
  .home-image06 {
    width: 400px;
  }
  .home-image08 {
    width: 400px;
  }
}
@media(max-width: 991px) {
  .home-home {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-links {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .home-icon {
    fill: white;
  }
  .home-main {
    padding: var(--dl-space-space-twounits);
    min-height: 500px;
  }
  .home-heading {
    gap: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content1 {
    flex-direction: column;
  }
  .home-services {
    align-items: center;
    flex-direction: column;
  }
  .home-content2 {
    align-items: center;
  }
  .home-why {
    gap: var(--dl-space-space-twounits);
  }
  .home-header2 {
    font-size: 24px;
    line-height: 27px;
  }
  .home-container2 {
    align-items: center;
    flex-direction: column;
  }
  .home-ul {
    max-width: 520px;
    margin-bottom: 0px;
  }
  .home-ul1 {
    max-width: 520px;
    margin-top: -16px;
  }
  .home-features1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-section {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-content4 {
    width: 100%;
    align-items: center;
  }
  .home-heading3 {
    font-size: 32px;
    max-width: 100%;
    align-self: flex-start;
    text-align: center;
  }
  .home-capton {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image05 {
    width: 450px;
  }
  .home-section1 {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-content5 {
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .home-header4 {
    width: 100%;
    max-width: 100%;
  }
  .home-heading4 {
    font-size: 32px;
    max-width: 100%;
    text-align: center;
  }
  .home-capton1 {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image06 {
    width: 450px;
  }
  .home-section2 {
    gap: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-content6 {
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .home-heading5 {
    font-size: 32px;
    max-width: 100%;
    text-align: center;
  }
  .home-capton2 {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text34 {
    font-size: 32px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  .home-image08 {
    width: 450px;
  }
  .home-text36 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text44 {
    font-size: 32px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  .home-image10 {
    width: 120px;
    height: 120px;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header {
    font-size: 52px;
  }
  .home-book {
    width: 100%;
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-services {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-text05 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
  }
  .home-grid {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-why {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header1 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-header2 {
    display: none;
    background-image: url("/home-1500w.webp");
  }
  .home-content3 {
    gap: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content4 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading3 {
    line-height: 36px;
  }
  .home-capton {
    font-size: 14px;
    line-height: 21px;
  }
  .home-heading4 {
    width: 100%;
    line-height: 36px;
  }
  .home-capton1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-heading5 {
    line-height: 36px;
  }
  .home-capton2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-contact1 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading6 {
    gap: var(--dl-space-space-unit);
  }
  .home-text35 {
    font-size: 24px;
  }
  .home-text36 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text37 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text38 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text39 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-text40 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-form {
    gap: var(--dl-space-space-threeunits);
  }
  .home-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text45 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-header {
    font-size: 32px;
  }
  .home-types {
    flex-direction: column;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-nav2 {
    flex-direction: column;
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text45 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
